.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.8rem 16.5rem;
}

.logo {
  flex-shrink: 0;
}

.nav__links-box {
  list-style: none;
  display: flex;
  gap: 3.7rem;
  text-transform: uppercase;
}

.nav__link {
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
}

.nav__link:hover {
  opacity: 0.3;
}

.nav__btn {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-size: 1.2rem;
  font-family: inherit;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  transition: all 0.5s;
  text-wrap: nowrap;
}

.nav__btn:hover {
  background-color: #dfdfdf;
  color: #000;
}

.nav__burger {
  display: none;
}
/* **************** INFO SECTION **************** */

.info__component {
  display: flex;
}

.info__component--1 {
  background-color: #000;
  color: #fff;
}

.info__component--2 {
  flex-direction: row-reverse;
}

.info__text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.1rem;
  padding: 0 11rem 0 11rem;
}

.component__heading {
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 4.167px;
}

.component__text {
  opacity: 0.6;
  line-height: 2.5rem;
}

.link__box {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
}

.component__link {
  transition: all 0.3s;
  cursor: pointer;
}

.component__link:hover {
  text-decoration: underline;
  margin-right: 1rem;
}

/* **************** STORY CARD **************** */

.stories__section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.story__component {
  position: relative;
}
.story__img {
  filter: brightness(0.85);
}

.story__text-box {
  position: absolute;
  left: 5rem;
  top: 37rem;
  z-index: 100;

  width: 70%;
  display: flex;
  flex-direction: column;

  color: #fff;
}

.story__title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 25px;
}

.story__author {
  font-size: 1.3rem;
  margin-bottom: 1.6rem;
}

.story--line {
  height: 1px;
  width: 100%;
  background-color: #fff;
  opacity: 0.5;
}

.link--box {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.story__read {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 2px;
}

/* **************** MEDIA QUERIES **************** */

@media screen and (max-width: 48em) {
  .navbar {
    padding: 2.8rem 5rem;
  }

  .info__text-box {
    padding: 0 5.4rem 0 5.4rem;
  }
}

@media screen and (max-width: 23.5em) {
  .navbar {
    padding: 2.8rem 2.4rem;
  }

  .nav__links-box {
    display: none;
  }

  .nav__btn {
    display: none;
  }

  .nav__burger {
    display: block;
  }

  /* *********** INFO SECTION *********** */

  .info__component {
    flex-direction: column-reverse;
  }

  .info__text-box {
    padding: 7.2rem 2.4rem 7.2rem 2.4rem;
  }

  .component__heading {
    font-size: 3.2rem;
    line-height: 4rem;
    letter-spacing: 3.333px;
  }
}
